* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  /* SOLUTION */
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  /* SOLUTION */
  /* Grid Item */
  grid-column: 1 / 3;
  /* Grid Container */
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.logo {
  /* SOLUTION */
  justify-self: start;
}

.menu ul {
  /* SOLUTION */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
  /* SOLUTION */
  list-style: none;
}

.sidebar {
  background-color: #FF7755;
  /* SOLUTION */
  /* Grid Item */
  grid-row: 2 / 4;
  /* Grid Container */
  display: grid;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo  {
  /* SOLUTION */
  display: grid;
  align-items: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  /* SOLUTION */
  display: grid;
  align-items: center;
}

.nav {
  background-color: #FF7755;
}

.nav ul {
  /* SOLUTION */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  /* SOLUTION */
  list-style: none;
}

.article {
  background-color: #bccbde;
  /* SOLUTION */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  /* SOLUTION */
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  /* SOLUTION */
  grid-column: 1 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
